*{
   box-sizing: border-box;
}
.header{
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.link{
    float: left;
    width: 20%;
    
}
.link a{
    background-color: #f1f1f1;
    margin-top: 7px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.menu{
    float: left;
    width: 60%;
    padding: 10px;
    margin-top: 7px;
    

}
.about{
    float: left;
    width: 20%;
    padding: 10px;
    margin-top: 7px;
    background-color: #f1f1f1;

}
.footer{
    margin-top: 10px;
    padding: 10px;
    float: left;
    background-color: #f1f1f1;
    width: 100%;
    text-align: center;
}