*{
    box-sizing: border-box;
}
.menu{
    float: left;
    width: 20%;
    overflow: auto;
}
.menuitem{
    padding: 7px;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;   
}
.main{
    width: 80%;
    float: left;
    padding: 0px 20px;

}
.right{
    float: left;
    background-color: lightblue;
    padding: 10px 15px;
    overflow: hidden;
    width: 100%;
    margin-top: 7px;
}
.footer{
   float: left;
   background-color: rgb(240, 213, 213);
   text-align: center;
   width: 100%;
   margin-top: 20px;
   padding: 20px;
}

